body {
      background-color: #f0f0f0;
}

p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 14px;
      font-weight: bold;
}

label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

#chars_count {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #AAAAAA;
}


.results {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

#left_block{
  width: 50px;
  margin: auto;
  display: inline-block;
}

.right_block {
  display: inline-block;
}
